In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/sample_data/bengaluru_house_prices.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [ ]:
df.shape

(13320, 9)

In [ ]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [ ]:
df1=df.drop(["area_type","society","availability"],axis="columns")

In [ ]:
df1.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [ ]:
df1.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [ ]:
df1.dropna(axis="rows",inplace=True)

In [ ]:
df1.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [ ]:
df1.shape

(12710, 6)

In [ ]:
df1["size"].head()

0        2 BHK
1    4 Bedroom
2        3 BHK
3        3 BHK
4        2 BHK
Name: size, dtype: object

In [ ]:
df1["bhk"]=df1["size"].apply(lambda x : int(x.split(" ")[0]))

In [ ]:
df1.head()

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

In [ ]:
df1.drop("size",axis="columns",inplace=True)

In [ ]:
df1.head()

                   location total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi       2600   5.0      3.0  120.00    4
2               Uttarahalli       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                  Kothanur       1200   2.0      1.0   51.00    2

In [ ]:
df1.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [ ]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [ ]:
df1[~df1["total_sqft"].apply(is_float)].head()

               location   total_sqft  bath  balcony    price  bhk
30            Yelahanka  2100 - 2850   4.0      0.0  186.000    4
122              Hebbal  3067 - 8156   4.0      0.0  477.000    4
137  8th Phase JP Nagar  1042 - 1105   2.0      0.0   54.005    2
165            Sarjapur  1145 - 1340   2.0      0.0   43.490    2
188            KR Puram  1015 - 1540   2.0      0.0   56.800    2

In [ ]:
def convert_sqft_to_num(x):
  tokens=x.split("-")
  if len(tokens)==2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
    return float(x)
  except:
    return None

In [ ]:
df2=df1.copy()
df2["total_sqft"]=df2["total_sqft"].apply(convert_sqft_to_num)

In [ ]:
df2.loc[122]

location      Hebbal
total_sqft    5611.5
bath             4.0
balcony          0.0
price          477.0
bhk                4
Name: 122, dtype: object

In [ ]:
df3=df2.copy()
df3["price_per_sqft"]=df3["price"]*100000/df3["total_sqft"]
df3.head()

,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000

In [ ]:
df3.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,12668.000000,12710.000000,12710.000000,12710.000000,12710.000000,1.266800e+04
mean,1511.835167,2.617309,1.584343,106.060778,2.737136,6.876277e+03
std,1162.097276,1.226000,0.817287,131.766089,1.205097,2.263354e+04
min,5.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,49.030000,2.000000,4.242721e+03
50%,1260.000000,2.000000,2.000000,70.000000,3.000000,5.376344e+03
75%,1640.000000,3.000000,2.000000,115.000000,3.000000,7.142857e+03
max,52272.000000,40.000000,3.000000,2912.000000,43.000000,2.300000e+06

In [ ]:
df3["location"].unique

<bound method Series.unique of 0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13314           Green Glen Layout
13315                  Whitefield
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 12710, dtype: object>

In [ ]:
df3["location"].head()

0    Electronic City Phase II
1            Chikka Tirupathi
2                 Uttarahalli
3          Lingadheeranahalli
4                    Kothanur
Name: location, dtype: object

In [ ]:
df3.location=df3.location.apply(lambda x:x.strip())

In [ ]:
lo=df3.location.value_counts(ascending=False)

In [ ]:
lo

Whitefield          515
Sarjapur  Road      372
Electronic City     302
Kanakpura Road      261
Thanisandra         234
                   ...
Shirdi Sai Nagar      1
S R Layout            1
Meenakshi Layout      1
Vidyapeeta            1
Abshot Layout         1
Name: location, Length: 1254, dtype: int64

In [ ]:
less=lo[lo<=10]

In [ ]:
len(lo[lo > 10])

237

In [ ]:
df3.location = df3.location.apply(lambda x: 'other' if x in less else x)
len(df3.location.unique())

238

In [ ]:
df3.head(20)

,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
5,Whitefield,1170.0,2.0,1.0,38.00,2,3247.863248
8,Marathahalli,1310.0,3.0,1.0,63.25,3,4828.244275
10,Whitefield,1800.0,2.0,2.0,70.00,3,3888.888889
11,Whitefield,2785.0,5.0,3.0,295.00,4,10592.459605
12,7th Phase JP Nagar,1000.0,2.0,1.0,38.00,2,3800.000000
13,Gottigere,1100.0,2.0,2.0,40.00,2,3636.363636
14,Sarjapur,2250.0,3.0,2.0,148.00,3,6577.777778
15,Mysore Road,1175.0,2.0,2.0,73.50,2,6255.319149
16,Bisuvanahalli,1180.0,3.0,2.0,48.00,3,4067.796610
17,Raja Rajeshwari Nagar,1540.0,3.0,3.0,60.00,3,3896.103896
18,other,2770.0,4.0,2.0,290.00,3,10469.314079
19,other,1100.0,2.0,2.0,48.00,2,4363.636364
20,Kengeri,600.0,1.0,1.0,15.00,1,2500.000000
21,Binny Pete,1755.0,3.0,1.0,122.00,3,6951.566952
22,Thanisandra,2800.0,5.0,2.0,380.00,4,13571.428571

In [ ]:
df4 = df3[~(df3.total_sqft/df3.bhk<300)]
df4.shape

(12055, 7)

In [ ]:
df4.price_per_sqft.describe()

count     12013.000000
mean       6206.082347
std        3985.518807
min         267.829813
25%        4199.363057
50%        5252.525253
75%        6823.529412
max      176470.588235
Name: price_per_sqft, dtype: float64

In [ ]:
max=df4["price_per_sqft"].quantile(0.9994)
max

42412.444444441164

In [ ]:
df4[df4["price_per_sqft"]>max]

,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
5365,Banashankari Stage II,1500.0,2.0,0.0,650.0,4,43333.333333
6421,Bommenahalli,2940.0,3.0,2.0,2250.0,4,76530.612245
7088,other,650.0,1.0,3.0,500.0,1,76923.076923
7657,other,425.0,1.0,1.0,750.0,1,176470.588235
7883,other,2000.0,3.0,2.0,1063.0,4,53150.000000
9195,Whitefield,1496.0,2.0,1.0,718.0,3,47994.652406
9737,other,2100.0,3.0,1.0,1000.0,4,47619.047619
13305,Hulimavu,500.0,1.0,3.0,220.0,1,44000.000000

In [ ]:
min=df4["price_per_sqft"].quantile(0.0008)
min

1250.0

In [ ]:
df4[df4["price_per_sqft"]<=min]

        location  total_sqft  bath  balcony  price  bhk  price_per_sqft
674    Yelahanka     35000.0   3.0      3.0  130.0    3      371.428571
810        other     10961.0   4.0      1.0   80.0    4      729.860414
1894       other     52272.0   2.0      1.0  140.0    3      267.829813
2421       other      2000.0   3.0      2.0   25.0    4     1250.000000
5393       other     42000.0   8.0      3.0  175.0    9      416.666667
5469      Ulsoor     36000.0   4.0      2.0  450.0    4     1250.000000
7242   Yelahanka     26136.0   1.0      0.0  150.0    1      573.921028
8391     Kengeri      1200.0   1.0      1.0   14.0    1     1166.666667
9240       other     10961.0   4.0      1.0   80.0    4      729.860414
11748      Begur      2400.0   3.0      2.0   12.0    3      500.000000
12470      other     16335.0   4.0      2.0  149.0    4      912.151821

In [ ]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df5 = remove_pps_outliers(df4)
df5.shape

(9848, 7)

In [ ]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df6 = remove_bhk_outliers(df5)
df6.shape

(7025, 7)

In [ ]:
df6.price_per_sqft.describe()

count     7025.000000
mean      6046.928459
std       2313.206436
min       1300.000000
25%       4579.439252
50%       5643.564356
75%       6804.536358
max      24000.000000
Name: price_per_sqft, dtype: float64

In [ ]:
df6[df6.bath>df6.bhk+2]
df6.shape

(7025, 7)

In [ ]:
df7=df6[df6.bath<df6.bhk+2]

In [ ]:
df7.shape

(6958, 7)

In [ ]:
dummies=pd.get_dummies(df7.location)

In [ ]:
dummies

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,AECS Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df8=df7.drop(["price_per_sqft"],axis="columns")

In [ ]:
df8.head()

              location  total_sqft  bath  balcony  price  bhk
0  1st Block Jayanagar      2850.0   4.0      1.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0      2.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0      3.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0      0.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0      2.0  148.0    2

In [ ]:
df9=pd.concat([df8,dummies],axis="columns")

In [ ]:
df10=df9.drop("other",axis="columns")

In [ ]:
df10.shape

(6958, 243)

In [ ]:
df10.drop("location",axis="columns",inplace=True)

In [ ]:
df10.head()

,total_sqft,bath,balcony,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,1.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,2.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,3.0,235.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,0.0,130.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,2.0,148.0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x=df10.drop("price",axis="columns")
y=df10.price

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [ ]:
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.8081002808294409

In [ ]:
import pickle
with open("bengaluru_prices.pickle","wb") as f:
  pickle.dump(lr,f)

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in x.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [ ]:
# pip show scikit_learn

In [ ]:
x_train.columns

Index(['total_sqft', 'bath', 'balcony', 'bhk', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Phase JP Nagar', '6th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=241)

In [ ]:
x_test.columns

Index(['total_sqft', 'bath', 'balcony', 'bhk', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Phase JP Nagar', '6th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=241)